{% extends "shop/../account/base.html" %}
{% load static %}
{% block title %}
MY CART
{% endblock title %}
<link rel="stylesheet" href="{% static 'shop/css/login.css' %}">
{% block content %}

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Cart<span>.</span></h2>


                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'shop/images/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Cart Page Section Begin -->
<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th class="product-h">Product</th>
                        <th>name</th>
                        <th>Price</th>
                        <th class="quan">Quantity</th>
                        <th></th>
                        
                        <th>delete</th>

                    </tr>
                </thead>

                {% if total_price == 0 %}
                <thead>
                    <tr>
                        <th class="product-h">***</th>
                        <th>빈장바구니</th>
                        <th>입니다.</th>
                        <th class="quan">***</th>
                        <th></th>
                        
                        <th></th>

                    </tr>
                </thead>
                {% else %}
                <form action="{% url 'shopping:delete_cart' user.pk %}" method="POST">
                    {% csrf_token %}
                    {% for product in cart %}
                    <thead>
                        <tr>
                            <th class="product-col">
                                <a>
                                    <img src="{{ product.products.image.url}}" alt="">
                                </a>
                            </th>
                            <th >
                                {{ product.products.name }}
                            </th>
                            <th >{{ product.products.price }}원</th>
                            <th >{{ product.quantity }}</th>

                            <th>
                                
                            </th>
                            <th >
                                <input type="hidden" id="product_{{ product.id }}" name="product"
                                    value="{{ product.products.id }}">
                                <button class="primary-btn chechout-btn">x</button>

                            </th>
                        </tr>
                    </thead>
                    {% endfor%}
                </form>
                {% endif %}

                </tbody>

            </table>

        </div>

    </div>
    <div class="cart-page">
        <div class="container">
            <div class="cart-table">
                <table>
                    <thead>
                        <tr>
                            <th >상풍가격</th>
                            <th></th>
                            <th>배송비</th>
                            <th></th>
                            <th >결제금액</th>
                            <th></th>
                            
    
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th >
                                {{ total_price}}
                            </th>
                            <th>
                                +
                            </th>
                            {% if total_price > 30000 %}
                            <th >
                                0
                            </th>
                            {% else %}
                            <th >
                                3000
                            </th>
                            {% endif %}
                            <th >=</th>
                            {% if total_price > 30000 %}
                            <th >
                                {{total_price}}
                            </th>
                            {% else %}
                            <th >
                                {{total_price2}}
                            </th>
                            {% endif %}
                            <th>
                                
                            </th>
                            <th >
                                <input type="hidden" id="product_{{ product.id }}" name="product"
                                    value="{{ product.id }}">
                                <a class="primary-btn chechout-btn" href="{% url 'shopping:order_list' user.pk %}">구매하기</a>

                            </th>
                        </tr>
                    </thead>
                      
    
                   
                </table>
    
            </div>
    
        </div>
        
    </div>
</div>
</div>
<!-- Cart Page Section End -->


{% endblock content %}