{% extends "shop/../account/base.html" %}

{% block title %}
DETAIL
{% endblock title %}
{% load static %}
{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>{{category.sort}}<span>.</span></h2>
                    <a href="{% url 'shopping:index' %}">Home</a>
                    <a href="#">{{category.sort}}</a>

                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'shop/images/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6">
                <div class="product-slider owl-carousel">
                    <div class="product-img">
                        <figure>
                            <img src="{{ product.image.url }}" alt="">
                            <div class="p-status">new</div>
                        </figure>
                    </div>
                    
                </div>

            </div>

            <div class="col-lg-6">
                <div class="product-content">
                    <h2>{{ product.name }}</h2>
                    <div class="pc-meta">
                        <h5>{{ product.price}}원</h5>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <p>{{ product.description}}</p>
                    <ul class="tags">
                        <li><span>Category :</span> {{product.category}}</li>
                        <li><span>Color :</span> {{ product.color }}</li>
                        <li><span>Size :</span> {{ product.size }}</li>
                    </ul>
                    {% csrf_token %}
                    <form action="{% url 'shopping:cart_or_buy' product.pk %}" , method="POST">
                        {% if user.is_authenticated %}
                        {% if product.quantity > 0 %}
                        <div class="product-quantity">
                            <div class="pro-qty">
                                <input type="text" value="1" name="quantity">
                            </div>
                        </div>
                        {% else %}
                        <a href="#" class="primary-btn pc-btn">SOLD OUT</a>
                        {% endif %}
                        
                        <button class="primary-btn pc-btn" type="submit" name="add_cart" value="add_cart">Add to
                            cart</button>
                        {%else%}
                        {%endif%}
                        {% csrf_token %}
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% load disqus_tags %}
<section class="product-page">
    <div class="container">
        {% disqus_show_comments %}
    </div>
</section>
<section class="product-page">
    {% for a in images %}
    <div class="container">
        <div class="detail_img">
        <img class="detail_img" src="{{ a.image.url }}" alt="">
    </div>
    </div>
    {% endfor %}
</section>
<!-- Product Page Section End -->



{% endblock content %}