{% extends "shop/../account/base.html" %}

{% block title %}
Profile
{% endblock title %}
{% load static %}
{% block content %}

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>My Page<span>.</span></h2>


                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'shop/images/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->
<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th class="product-h">Username</th>
                        <th class="product-h">{{ user.username }}</th>               
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="product-h">Order List</th>
                        <th class="product-h">{{ orders.order_date }}</th>               
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <th class="product-h"></th>
                        <th class="product-h">
                            <a href="{% url 'shopping:order_info' order.id %}">주문일자 : {{ order.order_date }}/ 결제금액 : {{order.amount}}</a>
                        </th>               
                    </tr>
                    {% endfor %}
                </thead>
                <thead>
                    <tr>
                        <th class="product-h">My info</th>
                        <th class="product-h">{{ user.username }}</th>               
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="product-h">My Cart</th>
                        <th class="product-h">
                            <a href="{% url 'shopping:cart' user.pk %}">
                                장바구니로 이동하기
                            </a></th>               
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


{% endblock content %}